<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/postrequest.js"></script>

    <title>Clound</title>
</head>

<body>
    <div class="container">
        <h1 class="display-3">Busca por <i class="fas fa-hashtag"></i></h1>
        <br/>
        <form id="customerForm">
            <div class="form-group">
                <input type="text" name="clound[pesquisa]" id="pesquisa" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-style">Pesquisa</button>
        </form>
        <br/><br/>
        
        <ul class= "list-group" id="listaTwitter"></ul>
    </div>

</body>

</html>